@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  padding-left: 10px;
}

.container {
  width: 960px;
  height: 960px;
  border: 10px solid red;
  border-radius: 10px;
}

.square {
  /*width: 58px;
  height: 58px;*/
  float: left;
}

.initial {
  background-color: white;
  border: 1px solid gray;
}

/*.black {
  background-color: black;
  border: 1px solid black;
}

.multicolour {
  background-color: #dfb263;
  border: 1px solid #dfb263;
}

.gradient {
  background-color: gray;
  border: 1px solid gray;
}*/

.button-container {
  margin: 5px auto;
}

.button {
  margin-top: 10px;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.button:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  opacity: .75;
}

.button.-dark {
  color: #FFFFFF;
  background: #333030;
  border: 2px solid #333030;
}

.button.-dark:hover {
  color: #333030;
  background: #FFFFFF;
}

.button.-green {
  color: #FFFFFF;
  background: #3ac569;
  border: 2px solid #3ac569;
}

.button.-green:hover {
  color: #3ac569;
  background: #FFFFFF;
}

.button.-blue {
  color: #FFFFFF;
  background: #2b90d9;
  border: 2px solid #2b90d9;
}

.button.-blue:hover {
  color: #2b90d9;
  background: #FFFFFF;
}

.button.-border {
  color: #2b90d9;
  border: 2px solid #2b90d9;
  background: transparent;
}
.button.-border:hover, .button.-border.-active {
  color: #FFFFFF;
  border-color: #2b90d9;
  background: #2b90d9;
}
